<div class="about-holder">
  <h3>About</h3>
  <p>yfλ (yf Lambda) is an unofficial contract for staking your yfβ to earn βetagems, <a href="https://mlu.red/muse/53028466310.html">Dynamic NFTs</a>. You can learn more about yfβ <a href="https://yfbeta.finance/">here</a>. This means that the longer you stake, the more your NFT will evolve. Check back often to see your Gems take on new forms and colors! The staking contract can be found <a href="https://etherscan.io/address/0xc5802bcf619301bdc6b1b9eda4b6fd26e63339af">here</a> on Etherscan.</p>
  <br>
  <h3>Getting Started</h3>
  <ol>
  <li>Head to the <a routerLink="/stake" routerLinkActive="active">Stake</a> tab and go to Manage Stake on the right card. Enter in how much yfβ you want to stake, and then click Stake.</li>
  <li>After the transaction is confirmed, you can mine a βetagem that represents your staked yfβ. Click the Mine Gem button and approve the transaction.</li>
  <li>To withdraw your stake at any time, click the Withdraw All button. βetagem represent your staked amount, so be aware that clicking Withdraw All will cause your βetagems to stop growing!</li>
  <li>Once you&#39;ve mined a βetagems, you can see it in the <a routerLink="/gems" routerLinkActive="active">βetagems</a> tab</li>
  </ol>
  <br>
  <h3>What&#39;s next for the project?</h3>
  <p>I&#39;ll be continuing front-end updates, and staked tokens will continue to have their NFTs evolve over time.</p>
  <p>Also, I&#39;ll be working on integrations with other platforms like Rarible and OpenSea so the dynamism can transfer over. You can already trade βetagems because βetagems are ERC-721 compliant, but it will take some more work to get the evolving images to update elsewhere.</p>
  <p>If you want to read a more in-depth analysis, see <a href="https://owenshen24.github.io/golb/output/muse/53231966310.html">here</a>. (Apologies for lack of stylings, Netlify is down, so I'm using GH pages to host.)</p>
</div>